<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tarjeta">
            <h2><span jhiTranslate="cinepagoApp.tarjeta.detail.title">Tarjeta</span> {{tarjeta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cinepagoApp.tarjeta.numero">Numero</span></dt>
                <dd>
                    <span>{{tarjeta.numero}}</span>
                </dd>
                <dt><span jhiTranslate="cinepagoApp.tarjeta.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{'cinepagoApp.Tipo.' + tarjeta.tipo}}">{{tarjeta.tipo}}</span>
                </dd>
                <dt><span jhiTranslate="cinepagoApp.tarjeta.saldo">Saldo</span></dt>
                <dd>
                    <span>{{tarjeta.saldo}}</span>
                </dd>
                <dt><span jhiTranslate="cinepagoApp.tarjeta.created">Created</span></dt>
                <dd>
                    <span>{{tarjeta.created}}</span>
                </dd>
                <dt><span jhiTranslate="cinepagoApp.tarjeta.updated">Updated</span></dt>
                <dd>
                    <span>{{tarjeta.updated}}</span>
                </dd>
                <dt><span jhiTranslate="cinepagoApp.tarjeta.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="tarjeta.cliente">
                        <a [routerLink]="['/cliente', tarjeta.cliente?.id, 'view']">{{tarjeta.cliente?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tarjeta', tarjeta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
