<div>
    <h2 id="page-heading">
        <span jhiTranslate="cineApp.calificacion.home.title">Calificacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-calificacion" [routerLink]="['/calificacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cineApp.calificacion.home.createLabel">
            Create new Calificacion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="calificacions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cineApp.calificacion.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="cineApp.calificacion.created">Created</span></th>
            <th><span jhiTranslate="cineApp.calificacion.updated">Updated</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let calificacion of calificacions ;trackBy: trackId">
                <td><a [routerLink]="['/calificacion', calificacion.id, 'view' ]">{{calificacion.id}}</a></td>
                <td>{{calificacion.descripcion}}</td>
                <td>{{calificacion.created | date:'medium'}}</td>
                <td>{{calificacion.updated | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/calificacion', calificacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/calificacion', calificacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'calificacion/'+ calificacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
