<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pelicula">
            <h2><span jhiTranslate="cineApp.pelicula.detail.title">Pelicula</span> {{pelicula.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cineApp.pelicula.titulo">Titulo</span></dt>
                <dd>
                    <span>{{pelicula.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.pelicula.estreno">Estreno</span></dt>
                <dd>
                    <span>{{pelicula.estreno}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.pelicula.created">Created</span></dt>
                <dd>
                    <span>{{pelicula.created}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.pelicula.updated">Updated</span></dt>
                <dd>
                    <span>{{pelicula.updated}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.pelicula.calificacion">Calificacion</span></dt>
                <dd>
                    <div *ngIf="pelicula.calificacion">
                        <a [routerLink]="['/calificacion', pelicula.calificacion?.id, 'view']">{{pelicula.calificacion?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pelicula', pelicula.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
