<div>
    <h2 id="page-heading">
        <span jhiTranslate="cineApp.butaca.home.title">Butacas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-butaca" [routerLink]="['/butaca/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cineApp.butaca.home.createLabel">
            Create new Butaca
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="butacas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cineApp.butaca.fila">Fila</span></th>
            <th><span jhiTranslate="cineApp.butaca.numero">Numero</span></th>
            <th><span jhiTranslate="cineApp.butaca.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="cineApp.butaca.created">Created</span></th>
            <th><span jhiTranslate="cineApp.butaca.updated">Updated</span></th>
            <th><span jhiTranslate="cineApp.butaca.sala">Sala</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let butaca of butacas ;trackBy: trackId">
                <td><a [routerLink]="['/butaca', butaca.id, 'view' ]">{{butaca.id}}</a></td>
                <td>{{butaca.fila}}</td>
                <td>{{butaca.numero}}</td>
                <td>{{butaca.descripcion}}</td>
                <td>{{butaca.created | date:'medium'}}</td>
                <td>{{butaca.updated | date:'medium'}}</td>
                <td>
                    <div *ngIf="butaca.sala">
                        <a [routerLink]="['../sala', butaca.sala?.id, 'view' ]" >{{butaca.sala?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/butaca', butaca.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/butaca', butaca.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'butaca/'+ butaca.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
