<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sala">
            <h2><span jhiTranslate="cineApp.sala.detail.title">Sala</span> {{sala.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cineApp.sala.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{sala.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.sala.capacidad">Capacidad</span></dt>
                <dd>
                    <span>{{sala.capacidad}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.sala.created">Created</span></dt>
                <dd>
                    <span>{{sala.created}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.sala.updated">Updated</span></dt>
                <dd>
                    <span>{{sala.updated}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sala', sala.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
